page-coaches-info {    @import url('https://fonts.googleapis.com/css?family=Montserrat');

    .border{
        border: solid;
        border-width:8px;
        border-radius : 50%;
        margin-left: 89px;
    }
  .center{
      text-align:center;
      font-family: 'Montserrat', sans-serif;

  }
.backButton {
    border: hidden;
    background: #444444;
}

  .button{
      margin: 30px 83px;
      background: white;
  }

  .bark{
      background-color:#5DA2BF;
      color:white;
      margin-top:-18px;

  }
  p{
      text-align:center;
      font-family: 'Montserrat', sans-serif;
      font-size: 18px;
      margin: -12px;
      margin-top: 31px;


  }

  #joinButton {
    position: absolute;
    color: white;
    font-size: 38px;
    margin-left: 58px;
    margin-top: 0px;
 }
 .move{
    position:relative;
    top:-10px;
  }
}
