page-method-learning {

    .luiz{
      text-align:center;
      color: white;
    }
    .center{
        margin:25px 100px;
        border:hidden;
        border-radius:50%;
 
   }
   .border{
       border: hidden;
       border-radius:25px;
       color:blue 
   }
   .button{
       border: hidden;
       background: white;
   }
   .book{
       background-color: #5DA2BF;
      
   }
}
