page-method-learning {
    @import url('https://fonts.googleapis.com/css?family=Montserrat');


    .luiz{
      text-align:center;
      color: white;
      font-family: 'Montserrat', sans-serif;

    }
    .center{
        margin:-5px 99px 30px ;
        border:solid ;
        border-radius:50%;
        color:white;         
   }
   .border{
       border: hidden;
       border-radius:25px;
       color:blue 
   }
   .button{
       border: hidden;
       background: white;
   }
   .margin{
       background-color: #5DA2BF;
       margin:-10px ;
      
   }
  
   .buttonClr{
       background-color: white;
       margin: 20px 90px;
   }
  .font{
    font-family: 'Montserrat', sans-serif;

  }    
}
