page-method-learning {

    .luiz{
      text-align:center;
    }
    .center{
        margin:25px 100px;
        border:hidden;
        border-radius:25px;
 
   }
   .border{
       border: hidden;
       border-radius:25px;
       color:blue 
   }
   .button{
       border: hidden;
       background: white;
   }
}
