page-comformation {
    .center{
        border-radius:40%;
        margin:25px 100px;
    }
    .button{
        border:solid;
        border-radius:25px;
        border-width:2px;
        margin:50px 130px ;
        width: 30%;
  
    }
    .dog{
        background-color:#5DA2BF;
        color:white;
       
    }
}
