page-message-board {
  @import url(https://fonts.googleapis.com/css?family=Quicksand);
  .toolbar-content {
    display: flex;
    justify-content: space-between;

  }  

  .navbar {
    margin-bottom: 3px;       
  }

  .logOut {
    width: 68px;
    position: relative;
    right: 19px;
    top: 12px;
    bottom: -6px;
    height: 21px;
  }
  .zoom {
    height: 44px;
    position: relative;
    left: 7px;
    top: 2px;
  }
  .folder {
    width: 46px;
    height: 38px;
    position: relative;
    left: 20px;
    top: 3px;
  }
  .problem-container{
    display: flex;
    background: #5DA2BF;
    color: white;
    font-family: 'Quicksand', sans-serif;
    border-radius: 15px;
  }
  .learning-style{
    background: white;
    margin: 0;
    color: black;
    border-radius: 6px;
    position: relative;
    top: 5px;
    left: 24px;
    font-size: 18px;
    text-align: center;
    height: 26px;
    width: 173px;
  }
  .user-image{
    border-radius: 50%;
    position: relative;
    height: 61px;
    width: 57px;
    margin-left: -9%;
    margin-top: -7%;
  }
  .user-image:after{
    content: '';
    position: relative;
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
    background: red;
    z-index: -1;
  }
  .blue-circle {
    position: absolute;
    background: white;
    height: 73px;
    width: 71px;
    border: solid;
    margin-top: -9px;
    margin-left: -12px;
    border-color: #5DA2BF;
    border-radius: 50%;
  }
  .position{
    position: absolute;
    top: 42px;
    left: 288px;

  }
  #plusButton {
         margin-left: 140px;
         margin-top: 20ex;
         height: 70px;
         width: 70px;
         background-color:white;
       }
   
       .problem {
        position: relative;
        top: -3px;
        left: 25px;
        font-size: 16px;
       
      }
       //Design for the data//
       .back{
        background: #5DA2BF;
        color: white;
        font-family: 'Quicksand', sans-serif;
        border-radius: 15px;
        margin-top:20px;
      }
      .user-icon{
        border-radius: 50%;
        position: relative;
        height: 61px;
        width: 57px;
        margin-left: -9%;
        margin-top: -7%;
    }
    }
    .style{
      background: white;
      margin: 0;
      color: black;
      border-radius: 6px;
      position: relative;
      top: -36px;
      left: 79px;
      font-size: 18px;
      text-align: center;
      height: 26px;
      width: 173px;
  
    }
    .problem-description{
      position: relative;
      top: -46px;
      left: 137px;
      font-size: 17px;
    }
  .Person{
    position: relative;
    left: 271px;
    top: -109px;
}
  
    

   
  
  // OLD CSS // WITH W3 CSS LINK //
  //   .toolbar {
//     height: 67px;
//   }

//   .scroll-content {
//     margin-top: 66px;
//   }

//   .problem-container {
//     color: white;
//     text-align: left;
//     border: hidden;
//     background: #5DA2BF;
//     border-radius: 25px;
//     margin: 18px 14px;
//     font-family: 'Montserrat', sans-serif;
//   }
//   .userAvicon {
//     height: 65px;
//     width: 19%;
//     margin-left: -2%;
//     border-radius: 98px;
//     margin-top: -2%;
//     border: solid;
//     border-width: 3px;
//     background: red;
//     background-size: 2px;
//   }
//   .progressBar {
//     margin-left: 20ex;
//     margin-bottom: -37px;
//     width: 64px;
//     height: 25px;
//   }
//   .progressBarLuiz{
//     margin-left: 20ex;
//     margin-bottom : 11px;
//     width: 64px;
//     height: 25px;
//   }
//   .problem-title {
//     margin: -52px;
//     margin-left: 117px;
//     position: absolute;
//   }
//   .problem-description {
//     margin-left: 60px;
//     margin-top: -55px;
//     padding-bottom: 13px;
//   }
//   .button {
//     background: #444444
//   }
//   .back {
//     background: white
//   }
//   #plusButton {
//     margin-left: 424%;
//     margin-top: 72ex;
//     height: 70px;
//     width: 70px;
//   }
// .folder{
//   background: #444444;
//   margin-left:5px;
//   margin-bottom :20px;
// }

// .scroll-content {
//   padding: 0px !important;
// }

