page-message-board {
    @import url('https://fonts.googleapis.com/css?family=Montserrat');
    // Dereks Code
//    .w3-container {
//         text-align: left;
//         background : #5DA2BF ;
//         padding: 0px;
//     }

  .button{
      background : #444444
  }

//  .back{
//      background : white
//  }

.problemContainer {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin: 0px !important;
}

.scroll-content {
    padding: 0px !important
}

.mainContainer {
    height: 125px;
    background-color: #5DA2BF;
    display: flex;

}

.userInfoContainer {
    width: 110%;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-left: 2%;
}

.userAvatar {
    height: 50%;
    width: 33%;
    border-radius: 50px;
    margin-top: 2%;
   
  }

      
 
}